
.root {
    -fx-background-color: #3c096c;
}


.text-field1 {
    -fx-font-family: "Poppins";
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #3c096c;
    -fx-text-fill: #3c096c ;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0; /* Only bottom border */
    -fx-border-color: #3c096c; /* Default bottom border color */
    -fx-pref-width: 300px;
    -fx-pref-height: 60px;
}


/* Change bottom border color on focus */
.text-field1:focused {
    -fx-border-color: #c8b6ff; /* Change color on focus */
}

/* Hide default focus border */
.text-field1:focused .text-field1 {
    -fx-focus-color: transparent;
}

.seConnecterButton {
    -fx-background-color: white;
    -fx-border-color: #3c096c;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #3c096c ;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.seConnecterButton:hover {
    -fx-background-color: #3c096c;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.my-alert {
    -fx-background-color: #f4effa; /* Couleur de fond */
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.transparent {
    -fx-background-color: transparent;
}

.transparent .viewport {
    -fx-background-color: transparent;
}

.transparent .scroll-bar:vertical, .transparent .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.transparent .corner {
    -fx-background-color: transparent;
}

.NewButton {
    -fx-background-color: white;
    -fx-border-color:  #3c096c;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill:  #3c096c ;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.NewButton:hover {
    -fx-background-color:  #3c096c;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.NewButton1 {
    -fx-background-color: #3c096c;
    -fx-border-color:  white;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill:  white ;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.NewButton1:hover {
    -fx-background-color:  white;
    -fx-border-color: #3c096c;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #3c096c;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.NewButton2 {
    -fx-background-color: #3c096c;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color:  #6e3ba2;
}

.NewButton2:hover {
    -fx-background-color:   #6e3ba2;
    -fx-background-radius: 20;
}

#typeComboBox {
    -fx-background-color: #f4effa;
    -fx-border-color: #3c096c;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

#typeComboBox .arrow-button {
    -fx-background-color: #3c096c;
}

#typeComboBox .arrow {
    -fx-background-color: white;
}

#typeComboBox .list-view {
    -fx-background-color: lightgray;
    -fx-border-color: #3c096c;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#typeComboBox .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#typeComboBox .list-view .list-cell:hover {
    -fx-background-color: #3c096c;
    -fx-text-fill: white;
}



#patientComboBox {
    -fx-background-color: #f4effa;
    -fx-border-color: #3c096c;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

#patientComboBox .arrow-button {
    -fx-background-color: #3c096c;
}

#patientComboBox .arrow {
    -fx-background-color: white;
}

#patientComboBox .list-view {
    -fx-background-color: lightgray;
    -fx-border-color: #3c096c;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#patientComboBox .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#patientComboBox .list-view .list-cell:hover {
    -fx-background-color: #3c096c;
    -fx-text-fill: white;
}